
<center><h2>Welcome to Squirrel Hop !!</h2>

<center><%= button_to "I am a User!", users_login_path, method: 'get'%><br>
<center><%= button_to "I am a Vendor!", vendors_login_path, method: 'get'%><br>
