<br>
<center><img src= "<%= image_url("logo.jpg") %>" alt="logo.jpg" style="width:17%;height:135%;">

<center><h2>Welcome to Squirrel Hop!</h2><br>

<div class="row">

<div class="col s6 push-s2"><%= button_to "I am a User!", users_login_path, method: 'get', class: "waves-effect waves-light btn"%></div>
<div class="col s6 pull-s2"><%= button_to "I am a Vendor!", vendors_login_path, method: 'get', class: "waves-effect waves-light btn"%></div>
</div>

<div>
  <input>
</div>

<!-- <div class="row">

<div class="col s5 pull-s1">

<div class="card-panel blue lighten-1">Why be a user?</div></div>
</div> -->

<div class="row">

  <div class="col s4">
    <img src="https://image.flaticon.com/icons/svg/188/188542.svg" alt="acorn" style="width:25%;height:300%;">
    <h4>Why be a User?</h4>
    this is where we will talk about why is it amazing to be a user
  </div>
  <div class="col s4">
    <img src="https://image.flaticon.com/icons/svg/294/294295.svg" alt="acorn" style="width:25%;height:300%;">
    <h4>Why use Squirrel Hop</h4>
    this is where we will talk about why is it amazing to be use squirrel hop
  </div>
  <div class="col s4">
    <img src="https://image.flaticon.com/icons/svg/189/189093.svg" alt="acorn" style="width:25%;height:300%;">
    <h4>Why be a Vendor?</h4>
    this is where we will talk about why is it amazing to be a vendor
  </div>

</div>
