/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     background: linear-gradient(to right, rgb(173, 169, 150), rgb(242, 242, 242), rgb(219, 219, 219), rgb(234, 234, 234));
 }

 h2 {
     font-family: "Trebuchet MS", Helvetica, sans-serif;
     color: grey;
 }

nav {
  background-color: #42A5F5;
}

.waves-effect {
  background-color: #42A5F5;
}

label {
  color: black;
  font-size: 16px;
}

.profile-container {
  width: 350px auto;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
  background-color: white;
}
